@use '../_index' as ui;

// ----------------------------------------------------------------------------------------------------------------------------
// Filter Component styles
// ----------------------------------------------------------------------------------------------------------------------------

.filter-dropdown {
    position: absolute;
    top: 150%;
    right: 0%;
    transform: translate(55%, 0);
    box-shadow: ui.$cardShadow;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 6px;
    background-color: white;
    z-index: 70;
}

.filter-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;

    label {
        @include ui.font-style(adminFont, base, medium);
        color: ui.get-color(accent, 100);
        margin-bottom: 3%;
    }

    @mixin inputStyles {
        border: 1px solid ui.get-color(primary, 20);
        color: ui.get-color(accent, 100);
        border-radius: 8px;
        padding: 0.75rem;
        outline: none;

        &::placeholder {
            color: ui.get-color(accent, 60)
        }
        
        &:focus {
            outline: none;
            border: 1px solid ui.get-color(secondary, 60);
        }
    }

    input {
        @include inputStyles();
    }

    select {
        @include inputStyles();
    }
}

.filter-actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}