@use '../_index' as ui;

// ----------------------------------------------------------------------------------------------------------------------------
// PROFILE COMPONENT STYLES
// ----------------------------------------------------------------------------------------------------------------------------

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 10dvw;
    cursor: pointer;

    img {
        object-fit: contain;
        width: 35%;
        padding-right: 10%; 
    }
}