@use '../_index' as ui;

// ----------------------------------------------------------------------------------------------------------------------------
// DEMO PAGE STYLES
// ----------------------------------------------------------------------------------------------------------------------------

.demo-page-container {
    width: 100%;
    padding: 40px 0;

    h1 {
        @include ui.font-style(adminFont, lg, medium);
        color: ui.get-color(primary, 100);
    }
}