@use '../_index' as ui;

// ----------------------------------------------------------------------------------------------------------------------------
// GENERAL LOGIN PAGE STYLES
// ----------------------------------------------------------------------------------------------------------------------------

.loginPage-container {
    height: 100dvh;
    width: 100dvw;
    background-color: white;
    display: flex;
    flex-direction: row;

    @include ui.respond-to (base, portrait) {
        flex-direction: column;
        align-items: center;
    }
}

.loginPage-header {
    position: absolute;
    height: 5dvh;
    top: 8%;
    left: 5%;

    @include ui.respond-to (base, portrait) {
        top: 3%;
        height: 3dvh;
    }    

    img {
        height: 100%;
        object-fit: contain;
    }
}

.loginImage {
    width: 60dvw;
    object-fit: contain;
    padding: 0 10%;

    @include ui.respond-to (base, portrait) {
        width: 100dvw;
        height: 40dvh;
        padding: 10% 0;
    }
}

.loginForm-container {
    width: 40dvw;
    background-color: white;
    box-shadow: ui.$formShadow;
    display: flex;
    align-items: center;
    justify-content: center;

    @include ui.respond-to (base, portrait) {
        width: 100dvw;
        max-width: 720px;
        height: 60dvh;
    }
    @include ui.respond-to (md, portrait) {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    form {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include ui.respond-to (md, portrait) {
            max-width: 500px;
        }

        div {
            margin-bottom: 5%;
        }

        h1 {
            @include ui.font-style(loginFont, xl, bold);
            color: ui.get-color(primary, 100);

            @include ui.respond-to (base, landscape) {
                @include ui.font-style(loginFont, lg, bold);
            }
            @include ui.respond-to (lg, landscape) {
                @include ui.font-style(loginFont, xl, bold);
            }
        }

        h2 {
            @include ui.font-style(loginFont, md, normal);
            color: ui.get-color(accent, 100);

            @include ui.respond-to (base, landscape) {
                @include ui.font-style(loginFont, sm, normal);
            }
            @include ui.respond-to (lg, landscape) {
                @include ui.font-style(loginFont, md, normal);
            }
        } 

        button {
            margin-top: 3%;
        }
    }
}


// FORM INPUT FIELD STYLES
@mixin inputStyles {
    color: ui.get-color(accent, 100);
    border-radius: 5px;
    padding: 0.75rem 1rem;

    &::placeholder {
        color: ui.get-color(accent, 60)
    }
    
    &:focus {
        outline: none;
        border: 2px solid ui.get-color(secondary, 60);
    }
}

.input {
    @include inputStyles;
    border: 2px solid ui.get-color(accent, 15);
}

.errorInput {
    @include inputStyles;
    border: 2px solid ui.get-color(error, 60);
}

.error-message {
    @include ui.font-style(loginFont, xs, semiBold);
    color: ui.get-color(error, 100);
}