@use '../_index' as ui;

// ----------------------------------------------------------------------------------------------------------------------------
// USERS PAGE STYLES
// ----------------------------------------------------------------------------------------------------------------------------

.users-page {
    width: 100%;
    padding: 40px 0;

    h1 {
        @include ui.font-style(adminFont, lg, medium);
        color: ui.get-color(primary, 100);
    }
}

.user-stats-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 40px 0;
    gap: 30px;


    @include ui.respond-to (base) {
        min-height: 400px;
    }

    @include ui.respond-to (sm) {
        min-height: 400px;
    }

    @include ui.respond-to (md) {
        min-height: 250px;
    }

    @include ui.respond-to (xl) {
        min-height: 180px;
    }
}

.user-stat-card {
    display: flex;
    box-shadow: ui.$cardShadow;
    border-radius: 6px;

    div {
        display: flex;
        flex-direction: column;
        margin: 1dvh 0;
    }

    h2 {
        @include ui.font-style(adminFont, base, medium);
        color: ui.get-color(accent, 100);
    }

    p {
        @include ui.font-style(adminFont, lg, semibold);
        color: ui.get-color(primary, 100);
    }

    @include ui.respond-to (base) {
        grid-column: span 12;
        align-items: center;
        padding: 1dvw 0 1dvw 5dvw;

        div {
            padding-left: 5dvw;
        }
    }

    @include ui.respond-to (md) {
        grid-column: span 6;
    }

    @include ui.respond-to (xl) {
        grid-column: span 3;
        padding: 1.5dvw 0 1.5dvw 1.5dvw;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        div {
            margin: 1dvh 0;
            padding-left: 0;
        }
    }
}

.user-data-table {
    width: 100%;
    box-shadow: ui.$cardShadow;
    border-radius: 6px;
    padding: 0 1.5dvw 0 1.5dvw;
    position: relative;
    overflow-x: scroll;
    overflow-y: visible;
    scrollbar-width: none;

    table {
        width: 100%;
        min-width: 1100px;
    }

    tr {
        height: 4rem;
    }

    th {
        @include ui.font-style(adminFont, xs, semibold);
        color: ui.get-color(accent, 100);
        text-align: left;

        div {
            display: flex;
        }
    }

    td {
        @include ui.font-style(adminFont, base, normal);
        color: ui.get-color(accent, 100);
        text-align: left;
        border-bottom: 1px solid ui.get-color(primary, 10);
    }

    @include ui.respond-to (base) {
        padding: 0 7dvw;
    }

    @include ui.respond-to (md) {
        padding: 0 4dvw;
    }

    @include ui.respond-to (xl) {
        padding: 0 1.5dvw;
    }
}

.filter-button {
    display: inline-flex;
    cursor: pointer;
    padding-left: 0.5rem;
    transition: 0.3s;

    &:hover {
        opacity: 0.6;
    }
}

.user-name-link {
    &:hover {
        text-decoration: underline;
    }
}

@mixin user-status {
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

.user-status-Inactive{
    @include user-status;
    background-color: ui.get-color(accent, 6);
    color: ui.get-color(accent, 100);
}

.user-status-Blacklisted{
    @include user-status;
    background-color: ui.get-color(error, 10);
    color: ui.get-color(error, 100);
}

.user-status-Pending{
    @include user-status;
    background-color: ui.get-color(info, 10);
    color: ui.get-color(info, 100);
}

.user-status-Active{
    @include user-status;
    background-color: ui.get-color(success, 6);
    color: ui.get-color(success, 100);
}